<h1>Adventurers, Heroes, and Treasure Hunters</h1>

<%= link_to "Create new character", new_character_path %>

<% @characters.each do |char| %>
  <h3><%= link_to char.character_name, character_path(char) %></h3>
  <p><%= char.character_description %></p>
  <%= image_tag char.thumb_image unless char.thumb_image.nil? %>
  <p><%= char.character_background %></p>
  <%= link_to "Edit this character", edit_character_path(char) %>
  <%= link_to 'Delete this character', character_path(char), method: :delete, data: { confirm: 'Are you sure you want to delete this character?' } %>
  <p> ____________________________________________ </p>
<% end %>