<h1>The Story of <%= @characters.character_name %></h1>

<%= image_tag @characters.main_image %>

<h2><%= @characters.character_name %></h2>

<em><%= @characters.character_description %></em>

<p><%= @characters.character_background %></p>